body {
    background:#F0F8FF;
}
a{
    text-decoration:none;
}
* {
    font-family: "微软雅黑" !important;
}
li{
    list-style:none;
}
input,select{
    outline:none;
}
.top,#secondhead{
    height: 60px;
    line-height:60px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    margin-bottom:10px;
}
    .top ul {
        padding: 0px;
        float: left;
        height: 33px;
    }

        .top ul li {
            float: left;
            margin-left: 5px;
        }

            .top ul li button {
                padding: 0px;
                width: 69px;
                height: 33px;
                line-height: 33px;
                background: url(../../Images/NewPageImage/bg_btnhour.png) no-repeat;
                border: 0px #1ea1fb solid;
                color: #13598f;
                font-family: 微软雅黑;
                font-size: 14px;
                background-color: white;
                box-shadow: none;
                outline: none;
            }

                .top ul li button:focus, .top ul li button:hover, .top ul li button:active, .top ul li button:active:focus {
                    padding: 0px;
                    width: 69px;
                    height: 33px;
                    line-height: 33px;
                    background: url(../../Images/NewPageImage/bg_btnhour_s.png) no-repeat;
                    border: 0px #1ea1fb solid;
                    color: white;
                    font-family: 微软雅黑;
                    font-size: 14px;
                    background-color: white;
                    box-shadow: none;
                    outline: none;
                }

                .top ul li button.active {
                    padding: 0px;
                    width: 69px;
                    height: 33px;
                    line-height: 33px;
                    background: url(../../Images/NewPageImage/bg_btnhour_s.png) no-repeat;
                    border: 0px #1ea1fb solid;
                    color: white;
                    font-family: 微软雅黑;
                    font-size: 14px;
                    background-color: white;
                    box-shadow: none;
                    outline: none;
                }
#publishPre {
    width: 138px;
    height: 31px;
    line-height: 19px;
    background: url(../../Images/NewPageImage/bg_publishpreview.png) no-repeat;
    border: 0px #1ea1fb solid;
    color: white;
    font-family: 微软雅黑;
    font-size: 15px;
    background-color: white;
    box-shadow: none;
    outline: none;
    margin-left: 40px;
    margin-bottom: 3px;
}

#ForecastZone ul li{
    display:inline-block;
}
#ForecastZone ul li button{
    width: 93px;
    height: 36px;
    line-height: 0px;
    background: url(../../Images/NewPageImage/bg_colourspot.png) no-repeat;
    color: #13598f;
    border: 0px solid #A9A9A9;
    text-align: center;
    font-size: 12px;
    font-family: "微软雅黑";
    box-shadow: none;
    outline: none;
}
#ForecastZone ul li button.active,#ForecastZone ul li button:hover{
    padding: 0px;
    width: 93px;
    height: 36px;
    line-height: 0px;
    background: url(../../Images/NewPageImage/bg_colourspot_s.png) no-repeat;
    border: 0px #1ea1fb solid;
    color: white;
    font-family: 微软雅黑;
    font-size: 12px;
    background-color: white;
    box-shadow: none;
    outline: none;
}

.shorttime_report,.airpollute_report{
    background:#fff;
    margin:auto;
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    margin-bottom:10px;
}

.previewContainer{
    width:61%;
    margin:-15px auto;
    background:#fff;
    text-align:center;
    padding:120px 65px;
    font-size:17px;
}
.copyright div{
    border-bottom:3px solid red;
}
.cont1{
    text-align:center;
    text-indent:2em;
    font-size:16px;
}
.cont1 .title{
    font-weight:bold;
}
.airpollute_preview .cont1 p{
    text-align:left;
    margin:20px 0px;
    padding:0 30px;
}
.back{
    display:inline-block;
    width: 80px;
    height: 25px;
    line-height:25px;
    color:#fff;
    text-align:center;
    background:#306FDA;
    cursor:pointer;
}
.bottom{
    width:100%;
    border-top:1px solid #000;
    text-align:left;
    padding-top:5px;
}
.bottom b{
    font-weight:400;
    display:inline-block;
    font-weight:bold;
}
.bottom b:first-child{
    margin-left:20px;
}
.bottom b:last-child{
    margin-left:300px;
}
p{
    text-indent:2em;
    text-align:left;
}
.shorttime_preview p{
    text-indent:0;
}
.shorttime_preview pre{
    white-space: pre-wrap; /*css-3*/ 
    white-space: -moz-pre-wrap; /*Mozilla,since1999*/ 
    white-space: -pre-wrap; /*Opera4-6*/ 
    white-space: -o-pre-wrap; /*Opera7*/ 
    word-wrap: break-word; /*InternetExplorer5.5+*/ 
    margin-top: 15px;
    background: none;
    border: none;
    text-align: left;
    font-family: "微软雅黑";
    font-size: 15px;
    line-height:30px;
}
.shorttime_preview .bottom{
    margin-top:270px;
}
.shorttime_preview .bottom b:last-child{
    margin-left:260px;
}

#previewImg img,#previewImg2 img{
    width:115px;
    height:90px;
    border:1px solid #808080;
}
#previewImg span:first-child{
    margin-right:2px!important;
}
.btn_choose,.btn_up {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 3px 11px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    margin:-5px 10px 0 0;
}
.btn_choose input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.btn_choose:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
#previewShow img{
    border:1px solid #808080;
}

#previewImg img {
    height: 400px;
    border: 1px solid #808080;
}
.releaseReport{
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.25);
    float: left;
    margin-top: 20px;
    background-color: grey;
    text-decoration:none;
    font-weight: normal;
    font-style: normal;
    outline: none;
    font-family: "microsoft yahei";
    font-size: 14px;
    cursor:pointer;
    margin-bottom:50px;
}
.releaseReport:hover{
    color: #fff;
    text-decoration:none;
    background: rgb(56, 121, 217);
    cursor:pointer;
}
