<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SZQX13ConnectionString" connectionString="Data Source=ORCL_192.168.1.101;Persist Security Info=True;User ID=szym;Password=szyama;"/>
    <add name="SZMBGISNowgis2009" connectionString="Data Source=ORCL_192.168.1.101;Persist Security Info=True;User ID=nowgis2009;Password=nowgis;"/>
    <add name="EJETDB247LFSData" connectionString="Data Source=ORCL_192.168.1.101;Persist Security Info=True;User ID=LFS;Password=nowgis;"/>
    <add name="EJETDB247LFS" connectionString="Data Source=ORCL_192.168.1.101;Persist Security Info=True;User ID=LFS;Password=nowgis;"/>
    <add name="EJETDB247IDCTY" connectionString="Data Source=ORCL_192.168.1.101;Persist Security Info=True;User ID=idcty;Password=idcty;"/>
    <add name="EJETDB247OCEAN" connectionString="Data Source=ORCL_192.168.1.101;Persist Security Info=True;User ID=oceanuser;Password=nowgis"/>
    <add name="EJETDB247Tuser" connectionString="Data Source=EJETDB247;Persist Security Info=True;User ID=nowgis2009;Password=nowgis"/>
    <add name="EJETDB247Grid" connectionString="Data Source=ORCL_192.168.1.101;Persist Security Info=True;User ID=grid;Password=grid"/>
    <add name="SZQX14ConnectionString" connectionString="Data Source=ORCL_192.168.1.101;Persist Security Info=True;User ID=szym;Password=szyama"/>
    <!--正式版链接-->
    <add name="EXOAYBDB" connectionString="Data Source=EXOAYBDB;Persist Security Info=True;User ID=szym;Password=szympwd;"/>
    <add name="EJETDB247RADIOUSER" connectionString="Data Source=EJETDB247;Persist Security Info=True;User ID=nowgis2009;Password=nowgis;"/>
    <!--End-->
    <!--测试-->
    <add name="TestOrecl" connectionString="Data Source=ORCL_192.168.1.101;Persist Security Info=True;User ID=tmac;Password=nowgis;"/>
    <!--海口-->
    <add name="HAIKOUConnect" connectionString="Data Source=ORCL_10.155.95.203;Persist Security Info=True;User ID=szym;Password=&quot;szyama&quot;;"/>
    
    <add name="ConnectionLWS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.155.95.203)(PORT=1521)))(CONNECT_DATA=(SID=orcl)(SERVER=DEDICATED)));Persist Security Info=True;User ID=szym;Password=szyama;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionLWSIDCTY" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.155.95.203)(PORT=1521)))(CONNECT_DATA=(SID=orcl)(SERVER=DEDICATED)));Persist Security Info=True;User ID=szym;Password=szyama;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="SZALARM30SMSINT" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.155.95.203)(PORT=1521)))(CONNECT_DATA=(SID=orcl)(SERVER=DEDICATED)));Persist Security Info=True;User ID=szym;Password=szyama;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionNowGis2010" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.155.95.203)(PORT=1521)))(CONNECT_DATA=(SID=orcl)(SERVER=DEDICATED)));Persist Security Info=True;User ID=szym;Password=szyama;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="OraConString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.155.95.203)(PORT=1521)))(CONNECT_DATA=(SID=orcl)(SERVER=DEDICATED)));Persist Security Info=True;User ID=szym;Password=szyama;Unicode=True" providerName="System.Data.OracleClient"/>
    <add name="ConnectionEJETDB247Idcty" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.155.95.203)(PORT=1521)))(CONNECT_DATA=(SID=orcl)(SERVER=DEDICATED)));Persist Security Info=True;User ID=szym;Password=szyama;Unicode=True" providerName="System.Data.OracleClient"/>

    <add name="EJETDB247ID" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.155.95.203)(PORT=1521)))(CONNECT_DATA=(SID=orcl)(SERVER=DEDICATED)));Persist Security Info=True;User ID=szym;Password=szyama;" providerName="System.Data.OracleClient"/>
    <add name="SZYM" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.155.95.203)(PORT = 1521)))(CONNECT_DATA =(SID = ORCL)));Persist Security Info=True;User ID=SZYM;Password=&quot;szyama&quot;;"/>
    <add name="NCARPath" connectionString="\\10.155.95.202\Data\FOG\ECMWF\"/> 
  </connectionStrings>
  
  
  
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10048576" executionTimeout="3600"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="wind.html"/>
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    
    <handlers>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <remove name="SSINC-html"/>
      <add name="SSINC-html" path="*.html" verb="GET,POST" modules="ServerSideIncludeModule" resourceType="File" requireAccess="Script"/>
    </handlers>
  </system.webServer>
</configuration>